* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body, html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('../img/imagem.jpg') no-repeat center center fixed;
  background-size: cover;
  padding: 20px;
}

.container {
  width: 100%;
  max-width: 500px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  padding: 40px 30px;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.2);
}

.container h1 {
  font-size: 2rem;
  margin-bottom: 15px;
  color: #333;
  font-weight: 600;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-weight: 600;
  color: #333;
  margin-bottom: 5px;
}

input, select, button {
  width: 100%;
  padding: 12px 15px;
  border: 2px solid rgba(160, 155, 155, 0.2);
  border-radius: 8px;
  font-size: 16px;
  background: transparent;
  color: #333;
  outline: none;
}

input::placeholder {
  color: #928e8e;
}

select option {
  background: #fff;
  color: #333;
}

#valorServico {
  color: #333;
  font-size: 18px;
  text-align: center;
  margin: 10px 0;
}

#btnPix {
  background: #d776ad;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
}

#btnPix:hover {
  background: #eb91b2;
  transform: scale(1.05);
}

#btnAgendar {
  background: #a94f77;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
  margin-top: 15px;
}

#btnAgendar:hover:not(:disabled) {
  background: #b43767;
  transform: scale(1.05);
}

#btnAgendar:disabled {
  background: #ccc;
  cursor: not-allowed;
  transform: none;
}

.btn-calendario {
  width: 100%;
  background: transparent;
  color: #ff88b2;
  border: 2px solid #ffb1ca;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
  margin-top: 15px;
  padding: 12px;
}

.btn-calendario:hover {
  background: #c77aad;
  color: white;
}

/* Modal PIX */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  max-width: 300px;
  width: 90%;
}

.modal-content h2 {
  color: #333;
  margin-bottom: 15px;
}

.modal-content p {
  color: #ffaee3;
  margin-bottom: 15px;
}

.modal-content img {
  margin: 15px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.modal-content button {
  background: #b65581;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.modal-content button:hover {
  background: #a33a6f;
}













